body {
    background-color: rgb(9, 51, 49);
    color: white;
    margin: 0px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45px;
    background-color: rgb(35, 135, 129);
}

    nav ul {
        justify-content: center;
        display: flex;
    }

        nav ul li {
            list-style: none;
            margin: 0 23px;
        }

            nav ul li a {
                text-decoration: none;
                color: white;
            }

                nav ul li a:hover {
                    color: rgb(9, 51, 49);
                    font-size: 1.03rem;
                }

.left {
    font-size: 1.5rem;
    font-color: white;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    align-items: center;
    height: 60vh;
}

    .firstSection > div {
        width: 30%;
    }

.leftSection {
    font-size: 3rem;
}

.rightSection {
}

    .rightSection img {
        width: 80%;
    }
